
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #DBEDFF;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}