
/* GENERAL STYLING */

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #DBEDFF;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}


/* MODAL STYLING */

.inner_modal_box h2.title {
  margin: 0;
}


/* MAP STYLING */

.council {
  fill: #eee;
  }

.council:hover{ 
  fill-opacity: 0.5;
  }

.council.S12000006 { fill: #f00; }

.council.S12000011 { fill: #f00; }

.council.S12000013 { fill: #f00; }

.council.S12000014 { fill: #f00; }

.council.S12000015 { fill: #f00; }
      
.council-boundary {
  fill: none;
  stroke: #ddd;
}
