
/* GENERAL STYLING */

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: rgba(255,255,255,1);
}

h1 {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #DBEDFF;
}

.main {
  background-color: rgba(255,255,255,1);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.big-map {
  width: 54%;
  display: inline-block;
  vertical-align: top;
  border: 2px solid #616161;
  border-radius: 4px;
}


/* COLLAPSIBLE PANELS  STYLING */

.map-options {
  width: 45%;
  display: inline-block; 
  vertical-align: top;
  height:auto !important;
}

.panel, .panelcollapsed {
  margin: 0 10px 10px 10px;
  width: 100%;
  border: 2px solid #616161;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.panel h3, .panelcollapsed h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
  padding: 4px;
  background: #E6E7E8 url(/images/arrow-up.gif) no-repeat 500px;
  border-bottom: 1px solid #616161;
  -moz-border-top-radius: 3px;
  -webkit-border-top-radius: 3px;
}

.panel h2:hover, .panelcollapsed h2:hover {
  background-color: #A9BCEF;
}

.panelcollapsed h3 {
  background: #CCC url(/images/arrow-dn.gif) no-repeat 500px;
  border-color: #CCC;
}

.panelcontent { 
  background: #f8f8f8; 
  overflow: hidden;
  padding: 5px;
}

.panelcollapsed .panelcontent {
  display: none;
}

.panelcontent .mini-map {
  width: 30%;
  margin: 5px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  height: 200px;
  border: 1px solid #616161;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.mini-map .map-image {
	width: 100%;
	max-height: 100%;
	position: relative;
}

.mini-map .map-overlay {
	z-index: 1;
	position: absolute;
}

/* d3-tip TOOLTIP STYLING */

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(40, 40, 40, 0.8);
  color: #f8f8f8;
  white-space: pre-line;
  border-radius: 4px;
}

.d3-tip h3 {
  padding: 0;
  margin: 0 0 15px 0;
}

.d3-tip .tooltip-inner {
  color: #f3f3f3;
  font-size: 14px;
  font-weight: normal;
}

/* d3-modal MODAL STYLING */

.d3-modal {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(40, 40, 40, 0.8);
  color: #f8f8f8;
  white-space: pre-line;
  border-radius: 4px;
}

.d3-modal h3 {
  padding: 0;
  margin: 0 0 15px 0;
}

.d3-modal .modal-inner {
  color: #f3f3f3;
  font-size: 14px;
  font-weight: normal;
}

.modal-cover {
  visibility: hidden;
}

.modal-cover-visible {
  background-color: rgba(0, 0, 0, 0.8);
  position:fixed;
  padding:0;
  margin:0;
  width: 100%;
  height: 100%;
  visibility: visible;
  z-index: 9999;
}

/* MAP STYLING */

.council {
  fill: #eee;
  }

.council:hover{ 
  fill-opacity: 0.5;
  }


.council.S12000005 { fill: #f00; }

.council.S12000006 { fill: #f00; }

.council.S12000008 { fill: #00f; }

.council.S12000010 { fill: #f00; }

.council.S12000011 { fill: #00f; }

.council.S12000013 { fill: #00f; }

.council.S12000014 { fill: #f00; }

.council.S12000015 { fill: #f00; }

.council.S12000017 { fill: #00f; }

.council.S12000018 { fill: #f00; }

.council.S12000019 { fill: #f00; }

.council.S12000020 { fill: #00f; }

      
.council-boundary {
  fill: none;
  stroke: #ddd;
}
